.admin-layout {
    .layout-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .tabset {
            height: 100%;

            .table {
                height: 100%;
            }
        }
    }
}
