<div class="platform-user-form-container">
    <ck-generic-form #formComp [inputFormData]="formData"></ck-generic-form>

    <form nz-form [formGroup]="customForm" nzLayout="vertical">
        @if ( selectedOrg ) {
            <div class="groups">
                <div class="form-label">{{ 'CK.Admin.UserManagement.Form.Groups' | translate }}</div>
                <nz-select class="org-select" [style]="{ 'width': '100%', 'margin-bottom': '2%' }" [(ngModel)]="selectedOrg" [ngModelOptions]="{standalone: true}">
                    @for ( org of getOrgs(); track org.groupId ) {
                        <nz-option [nzValue]="org" [nzLabel]="org.groupName"></nz-option>
                    }
                </nz-select>
                <div class="group-choices">
                    <label
                        nz-checkbox
                        [(ngModel)]="map.get( selectedOrg.groupId )!.checked"
                        [ngModelOptions]="{standalone: true}"
                        (click)="selectGroup( selectedOrg.groupId )">
                        {{ 'CK.Admin.UserManagement.Role.Member' | translate }}
                    </label>
                    <label
                        nz-checkbox
                        [(ngModel)]="map.get( getAdminGroupId( selectedOrg.groupId ) )!.checked"
                        [ngModelOptions]="{standalone: true}"
                        (click)="selectAdminGroup( selectedOrg.groupId )">
                        {{ 'CK.Admin.UserManagement.Role.Administrator' | translate }}
                    </label>
                </div>
                @for ( w of getChildren( selectedOrg.groupId ); track w.groupId ) {
                    <div class="warehouse-groups">
                        <div class="group-label">
                            <fa-icon class="icon" [icon]="icon"></fa-icon>
                            <span>{{ w.groupName }}</span>
                        </div>
                        <div class="group-choices">
                            <label
                                nz-checkbox
                                [(ngModel)]="map.get( w.groupId )!.checked"
                                [ngModelOptions]="{standalone: true}"
                                (click)="selectGroup( w.groupId )">
                                {{ 'CK.Admin.UserManagement.Role.Member' | translate }}
                            </label>
                            <label
                                nz-checkbox
                                [ngModel]="map.get( getAdminGroupId( w.groupId ) )!.checked"
                                [ngModelOptions]="{standalone: true}"
                                (click)="selectAdminGroup( w.groupId )">
                                {{ 'CK.Admin.UserManagement.Role.Administrator' | translate }}
                            </label>
                        </div>
                    </div>
                }
            </div>
        } @else {
            <nz-form-item>
                <nz-form-label class="form-label" nzRequired>{{'CK.Admin.UserManagement.Form.Groups' | translate}}</nz-form-label>
                <nz-form-control>
                    <ck-user-workspace-group-picker
                        [control]="groupsControl"
                        [groups]="groupInfos" />
                </nz-form-control>
            </nz-form-item>
        }
    </form>
</div>
