.platform-user-form-container {
    .group-option {
        .organization-name {
            font-weight: 600;
        }

        .role {
            text-decoration: underline;
        }
    }

    .groups {
        .form-label {
            margin-bottom: 8px;
        }

        .org-select {
            margin-bottom: 5%;
            width: 100%;
        }

        .group-label,
        .group-choices {
            margin-bottom: 1%;
        }

        .group-label {
            display: flex;
            align-items: center;

            .icon {
                font-size: 0.6em;
                margin-right: 2%
            }

            nz-tag {
                margin-left: auto;
            }
        }
    }
}
