<div class="platform-user-form-container">
    <ck-generic-form #formComp [inputFormData]="formData"></ck-generic-form>

    <form nz-form [formGroup]="customForm" nzLayout="vertical">
        <!-- <PreGroupsFormItem revert /> -->
        <nz-form-item>
            <nz-form-label class="form-label" nzRequired>{{'CK.Admin.UserManagement.Form.Groups' | translate}}</nz-form-label>
            <nz-form-control>
                <ck-user-workspace-group-picker
                    [control]="groupsControl"
                    [groups]="workspaceGroups" />
            </nz-form-control>
        </nz-form-item>
        <!-- <PostGroupsFormItem /> -->

        <!-- <PrePasswordFormItem revert /> -->
        @if ( isCreate ) {
            <nz-form-item>
                <nz-form-label class="form-label" nzRequired>{{'CK.Admin.UserManagement.User.Password' | translate}}</nz-form-label>
                <nz-form-control nzHasFeedback [nzErrorTip]="passwordError">
                    <nz-input-group [nzSuffix]="passwordSuffix">
                        <input nz-input type="text" formControlName="password" autocomplete="new-password"
                               [placeholder]="'CK.Admin.UserManagement.User.Password' | translate" />
                    </nz-input-group>
                    <ng-template #passwordSuffix>
                        <button nz-button nzType="text" nzSize="small" type="button" class="password-refresh"
                                (click)="regeneratePassword()"
                                [title]="'CK.Admin.UserManagement.Form.RegeneratePassword' | translate">
                            <fa-icon [icon]="refreshIcon" />
                        </button>
                    </ng-template>
                </nz-form-control>
                <ng-template #passwordError>
                    @if ( passwordControl?.hasError( 'required' ) ) {
                        <span>{{ 'CK.Admin.UserManagement.User.PasswordRequired' | translate }}</span>
                    } @else if ( passwordControl?.hasError( 'minlength' ) ) {
                        <span>{{ 'CK.Admin.UserManagement.User.PasswordMinLength' | translate }}</span>
                    } @else if ( passwordControl?.hasError( 'passwordComplexity' ) ) {
                        <span>{{ 'CK.Admin.UserManagement.User.PasswordComplexity' | translate }}</span>
                    }
                </ng-template>
            </nz-form-item>
        }
        <!-- <PostPasswordFormItem /> -->
    </form>
</div>
