.ban-user-form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .banned-users {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 8px;

        .banned-users-label {
            font-weight: 600;
        }

        .banned-users-value {
            word-break: break-word;
        }
    }
}
