<ck-adaptive-page-layout
    #layout
    class="users-tab-layout"
    [title]="''"
    [items]="users()"
    [itemUniqueKey]="'userId'"
    [columns]="columns"
    [itemActions]="rowActions"
    [actions]="actions()"
    [filters]="filters()"
    [pageSize]="pageSize"
    [searchFunc]="searchFunc"
    [filterFunc]="filterFunc"
    [itemTemplateRef]="itemTemplate"
    (tableSelectionChanged)="onTableSelection($event)" />

<!-- <PreItemTemplate revert /> -->
<ng-template #itemTemplate let-user>
    <div class="ck-list-item-infos">
        <span class="ck-list-item-primary-info">{{ user.userName }}</span>
        <!-- <PostUsersTabItemInfo /> -->
        <div class="ck-list-item-line">
            <span>{{ 'CK.Admin.UserManagement.User.FirstName' | translate }}</span>
            <span>{{ user.firstName }}</span>
        </div>
        <div class="ck-list-item-line">
            <span>{{ 'CK.Admin.UserManagement.User.LastName' | translate }}</span>
            <span>{{ user.lastName }}</span>
        </div>
        <div class="ck-list-item-line">
            <span>{{ 'CK.Admin.UserManagement.Column.Groups' | translate }}</span>
            <!-- The template reference variable (not the viewChild signal) is what the template resolves. -->
            <ng-container *ngTemplateOutlet="groupsCellTemplate; context: { row: user }" />
        </div>
    </div>
</ng-template>
<!-- <PostItemTemplate /> -->

<!-- <PreGroupsCellTemplate revert /> -->
<ng-template #groupsCellTemplate let-user="row">
    <div class="ck-group-tags">
        @for ( tag of groupTags( user ); track tag.label ) {
            @if ( tag.isAdmin ) {
                <nz-tag nzColor="geekblue">{{ tag.label }}</nz-tag>
            } @else {
                <nz-tag>{{ tag.label }}</nz-tag>
            }
        }
    </div>
</ng-template>
<!-- <PostGroupsCellTemplate /> -->
