<ck-adaptive-page-layout
    #layout
    class="users-tab-layout"
    [title]="''"
    [items]="users()"
    [itemUniqueKey]="'userId'"
    [columns]="columns"
    [itemActions]="rowActions"
    [actions]="actions()"
    [filters]="filters()"
    [pageSize]="pageSize"
    [searchFunc]="searchFunc"
    [filterFunc]="filterFunc"
    [itemTemplateRef]="itemTemplate"
    (tableSelectionChanged)="onTableSelection($event)" />

<!-- <PreItemTemplate revert /> -->
<ng-template #itemTemplate let-user>
    <div class="ck-list-item-infos">
        <span class="ck-list-item-primary-info">{{ user.userName }}</span>
        <!-- <PostUsersTabItemInfo /> -->
        <div class="ck-list-item-line">
            <span>{{ 'CK.Admin.UserManagement.User.FirstName' | translate }}</span>
            <span>{{ user.firstName }}</span>
        </div>
        <div class="ck-list-item-line">
            <span>{{ 'CK.Admin.UserManagement.User.LastName' | translate }}</span>
            <span>{{ user.lastName }}</span>
        </div>
        <div class="ck-list-item-line">
            <span>{{ 'CK.Admin.UserManagement.Column.Role' | translate }}</span>
            @if ( user.isWorkspaceAdmin ) {
                <nz-tag nzColor="geekblue">{{ 'CK.Admin.UserManagement.Role.Administrator' | translate }}</nz-tag>
            } @else {
                <nz-tag>{{ 'CK.Admin.UserManagement.Role.Member' | translate }}</nz-tag>
            }
        </div>
    </div>
</ng-template>
<!-- <PostItemTemplate /> -->

<!-- <PreRoleCellTemplate revert /> -->
<ng-template #roleCellTemplate let-user="row">
    @if ( user.isWorkspaceAdmin ) {
        <nz-tag nzColor="geekblue">{{ 'CK.Admin.UserManagement.Role.Administrator' | translate }}</nz-tag>
    } @else {
        <nz-tag>{{ 'CK.Admin.UserManagement.Role.Member' | translate }}</nz-tag>
    }
</ng-template>
<!-- <PostRoleCellTemplate /> -->
